<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    

}
body{
    font-family: "poppins", sans-serif;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

table{
    width: 100vw;
    text-align: center;
}
    
.header{
    margin-top: -8px;
    background-color: #1a1818;
    color: #ffffff;
    box-shadow: 0px 2px 4px #3a3535;
    border-collapse: collapse;
    font-size: 0.75em;
    position: fixed;
}
#logo-td{
    margin-top: 40px;
    height: 48px;
    padding-top: 4px;
}
td{
    height: 50px;
    width: 104px;
    color:#9db7a9 ;
}
.nav-conteudo-lateral{
    width: 300px;

}
.nav-destacado{
    border-bottom: 3px solid white;
    color: #ffffff;
}
.nav-destacado:hover{
cursor: pointer;
background-color: #4c4d4c;
}


.nav-select:hover {
    cursor: pointer;
    background-color:  #4c4d4c;
}
.tabela-brasileirao{
    position: absolute;
    margin-top: 125px;
    z-index: -1;
    border: 1px solid #e9eaeb;
    border-top: none;
    border-bottom: none;
    width: 40vw;
    margin-left: 30%;
    font-size: 0.75em;
    border-collapse: collapse;background-color: #ffffff;

}
.tabela-brasileirao th{
border-top: 1px solid #dadec0;
font-weight: 100;
color: #70758d;
padding: 4px;
height: 35px;
    
  
}
.tabela-brasileirao td{
    border-top: 1px solid #dadec0;
    font-weight: 100;
    color: #000000;
    padding: 4px;
    height: 40px;
    font-size: 1.2em;
    
}
.tabela-brasileirao  img{
    width: 25px;
}

option{
    border: 1px solid #e9eaeb;
    border-top: none;
    border-bottom: none;
    font-size:11px;

}
.preselect{
    border: 1px solid #e9eaeb;
    border-top: none;
    border-bottom: none;
    font-size: 0.75em;
    background-color:#f1f3f4;
    border: none;
    color:#000000
}
#tabela-brasileirao-header{
    padding: 15px;
    padding-left: 20px;
    background-color: #f1f3f4;
    text-align: left;
    color: #70758d;
    
}
.tabela-colunas-bordas{
    border-top: none !important;

}
.titulo-clube{
    width: 35%;
    text-align: left;
}
.titulo-ultimas5{
    width: 20%;

}
.titulo-ultimas5 img{
    width: 17px;
}
.borda-azul{
    border-left: 3px solid #4285f4;
}
.borda-laranja{
    border-left: 3px solid #fa7b17;
}
.borda-verde{
    border-left: 3px solid #34a853;
}
.borda-vermelha{
    border-left: 3px solid #e44335
}