.icone-time{
    width: 20px;
    height: 20px;
}
.tdespaço{
    display: table;
    float: left;
}
.pts{
 padding-left: 48px;
    
   
   }
.barralateral{
    background-color: blue;
}
.pj{
    padding-left: 20px;
}
.vit{
    padding-left: 20px;
}
.lateral{
    width:2px;
    background-color: green;
}
